@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Oleo Script', cursive;
    font-weight: 100;
    
}

body {
    width: 100%;
    height: 100vh;
    
}

.logo img {
    width: 7rem;
    height: auto;
}

.nav-bar {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links {
    width: 60%;
    height: auto;

}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links a,
.login-sinup a {
    color: black;
    font-size: 1rem;
}



.box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.background {
    width: 90vw;
    height: 40vh;
    border-radius: 5% 5% 5% 5% / 20% 20% 20% 20%;
    background: no-repeat url("../internship/Background.jpg");
    background-size: cover;
    margin: 0 auto;
    text-align: center;

}

.background .heading {
    color: #fff;
    font-size: 2rem;
    position: relative;
    top: 8%;
}

.card {
    width: 80vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 5% 5% 5% 5% / 10% 10% 10% 10%;
    border: 0.02rem solid gray;
    position: relative;
    top: -25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mySwiper {
    width: 15vw;
    height: 20vw;
    margin-left: 10rem;
}

.swiper-pagination {
    position: absolute;
    top: 105%;
}


.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 15vw;
    height: 20vw;
}

.swiper-slide img {

    width: 100%;
    height: 100%;
    padding: 0.3rem;
    border-radius: 2%;
    border: 0.02rem solid gray;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}



.swiper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}


.text {
    width: 30vw;
    height: auto;
    text-align: center;
    padding: 1.5rem 2rem;
    line-height: 3rem;
    font-weight: 700;
}

.text .title {
    font-size: 2rem;
}

.text .center-text {
    width: 100%;
    font-size: 0.7rem;
    text-align: left;
    line-height: 1rem;
    color: gray;
    font-weight: 100;
    padding: 2rem 2rem;

}

.text .prices {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.prices .offer-price {
    color: rgb(159, 255, 64);
}

.price span {
    font-size: 0.8rem;
}


button {
    background-color: black;
    padding: 0.3rem;
    width: 15rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 5% 5% 5% 5% / 30% 30% 30% 30%;

}

.features {
    position: relative;
    top: -20vh;
    width: 100%;
    height: 50vh;
}

.features .tf {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.features .f-box {
    width: 80vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 5% 5% 5% 5% / 20% 20% 20% 20%;
    border: 0.02rem solid gray;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.f-box .blur-img {
    width: 30vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.blur-img .blur {
    width: 13vh;
    height: 13vh;
    background: radial-gradient(#fff 10%, gray);
    border-radius: 50%;
    opacity: 30%;
    filter: blur(0.3rem);

}

.f-text {
    font-weight: 100;
}

.bx.bx-menu {
    display: none;
}

@media(max-width:1000px) {
    html {
        font-size: 90%;
    }

    button {
        width: 10rem;
    }

    .text {
        font-size: 1.5rem;
    }
}

@media(max-width:800px) {
    html {
        font-size: 70%;
    }
}

@media(max-width:550px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 15rem;
        padding: 0.5rem;
    }

    .bx.bx-menu {
        display:block;
        font-size: 5rem;
        padding-left: 1rem;
    }

    .nav-bar {
        display: block;
        width: 100%;
        height: 12vh;
        box-shadow: 0px 2px 10px black;
        overflow: hidden;
    }

    .nav-links {
        width: 100%;
        height: 5vh;
        background-color: rgb(240, 238, 238);
        padding-top: 0.5rem;
        
    }

    .nav-links a,
    .login-sinup a,
    .login-sinup span {
        font-size: 1.5rem;
    }

    .login-sinup {
        text-align: center;
        padding: 1rem;
    }

    .combo {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .background {
        width: 90vw;
        height: 30vh;
        border-radius: 7% 7% 7% 7% / 20% 20% 20% 20%;

    }

    .box {
        margin-top: 8rem;
    }

    .card {

        border-radius: 7% 7% 7% 7% / 3% 3% 3% 3%;
        top: -15vh;
        height: 200vh;
    }

    .background .heading {
        top:12%;
        font-size: 3rem;
    }

    .mySwiper {
        width: 60vw;
        height: 100vw;
        margin-left: 0rem;
    }

    .swiper-pagination {
        position: absolute;
        top: 105%;
    }


    .swiper-slide {
        width: 60vw;
        height: 100vw;
    }

    .card {
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;

    }

    .text {
        width: 80vw;
    }

    .text .title {
        font-size: 4rem;
        position: relative;
        top: 50%;
    }
    .prices::after{
        content: "";
        position: absolute;
        width:50%;
        height: 2px;
        background-color: gray;
        top:150%;
        left: 25%;
        

    }

    .text .center-text {
        font-size: 2rem;
        line-height: 3rem;
        position: relative;
        top: 45%;

    }
    .text .prices {
        width:100%;
        position: relative;
        top:10vh;
        font-size: 2.5rem;
    
    }
    

    .price span {
        font-size: 1rem;
    }

    button {
        position: relative;
        top: -55vh;
        padding: 2rem;
        width: 65vw;
        font-size: 3rem;
        border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
        border: 0px;
    }
    .features {
        top: -10vh;
        height: 120vh;
    }

    .f-text{
        font-size: 2rem;
        width:60%;
        text-align: left;
        height:60%;
    }
    
    .features .tf {

        font-size: 4rem;
    }
    
    .features .f-box {
        height: 80vh;
        border-radius: 7% 7% 7% 7% / 7% 7% 7% 7%;  
        flex-direction: column;
    }
    
    .f-box .blur-img {
        width: 80%;
        flex-direction: row;    
        justify-content: space-between;
        height:auto;
    }
    

}